.idea/
.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
.sass-cache/
node_modules/
public_html/app/design/install/
public_html/app/etc/local.xml
public_html/app/etc/local.xml.additional
public_html/app/etc/local.xml.template
public_html/cron.php
public_html/cron.sh
public_html/downloader/
public_html/errors/
public_html/includes/
public_html/index.php
public_html/index.php.sample
public_html/install.php
public_html/LICENSE*
public_html/lib/Zend/
public_html/media/
public_html/var/
public_html/.htaccess
public_html/.htaccess.dist
public_html/.htaccess.sample
public_html/api.php
public_html/favicon.ico
public_html/get.php
public_html/js/
public_html/lib/
public_html/mage
public_html/shell/
public_html/pear/
public_html/php.ini.sample
public_html/pkginfo/
public_html/RELEASE_NOTES.txt
public_html/app/.htaccess
public_html/app/Mage.php
public_html/app/code/
public_html/app/design/adminhtml/
public_html/app/design/frontend/base/
public_html/app/design/frontend/default/
public_html/app/etc/
public_html/app/locale/
public_html/skin/adminhtml/
public_html/skin/frontend/base/
public_html/skin/frontend/default/
public_html/skin/install/
