.idea/
.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
.sass-cache/
node_modules/
public_html/app/design/install/
public_html/app/etc/local.xml
public_html/app/etc/local.xml.additional
public_html/app/etc/local.xml.template
public_html/cron.php
public_html/cron.sh
public_html/downloader/
public_html/errors/
public_html/index.php
public_html/index.php.sample
public_html/install.php
public_html/LICENSE*
public_html/lib/Zend/
public_html/media/
public_html/var/
public_html/pear/
public_html/php.ini.sample
public_html/pkginfo/
public_html/RELEASE_NOTES.txt
